CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Hello
DartConfiguration.tcl
unittest
googletest-build/
googletest-download/
googletest-src/
.CMakeLists.txt.swp
dollar
src/.Dollar.cpp.swp
src/.Dollar.h.swp
src/.main.cpp.swp
test/.DollarTest.cpp.swp

