*.a
*.save
*.save
*.swn
*.swo
*.swp
CMakeCache.txt
CMakeFiles
CMakeScripts
CTestTestfile.cmake
DartConfiguration.tcl
Hello
Makefile
Testing
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
dollar
googletest-build/
googletest-download/
googletest-src/
install_manifest.txt
libdollar_lib.a
runDollar
runMain
runUnitTests
test/unittest.cpp
unittest
